<!-- Footer -->
  <!-- Section: Social media -->

    <!-- Right -->
      <!-- Right -->
    <!-- Section: Social media -->
  
    <!-- Section: Links  -->
        <!-- Grid row -->
        <div class="row mt-3">
          <!-- Grid column -->
          <!-- Grid column -->
          <!-- Grid column -->
  
          <!-- Grid column -->
  
          <!-- Grid column -->
          <div class="text-center p-3" style="background-color: rgb(224, 224, 224)">
            © 2020 Copyright:
            <a class="text-dark" href="https://mdbootstrap.com/">MDBootstrap.com</a>
          </div>
          <!-- Grid column -->
        </div>
        <!-- Grid row -->
      </div>
    </div>