<!DOCTYPE html>
<html>
  <head>
    <title>404 page</title>
    <!-- <link rel="stylesheet" href="/stylesheets/style.css" /> -->
    <link rel="stylesheet" href="css/bootstrap.min.css" />
    <link rel="stylesheet" href="stylesheets/style.css" />
    <link rel="shortcut icon" href="images/title-icon.png" type="image/x-icon">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
  </head>
  <body>
    <script language="javascript" src="js/bootstrap.min.js"></script>
    <div class="container-sm" >
        <div class="p-5">
        <div class="d-flex justify-content-center">
            <h1 class="upper_title" href="#">404</h1>
        </div>
        <div class="d-flex justify-content-center">
            <h3 href="#">Page not found</h3>
        </div>
    </div>
    </div>   
      <%- include("elements/footer.ejs") %>
  </body>
</html>
